<ul class="list-group">
  <li class="list-group-item"><a href="{{ path('homepage') }}">Accueil</a></li>
  <li class="list-group-item"><a href="{{ path('ajouter_recette') }}">Ajouter une recette</a></li>
  <li class="list-group-item"><a href="{{ path('ajouter_categorie_recette') }}">Ajouter une catégorie de recette</a></li>
  <li class="list-group-item"><a href="{{ path('ajouter_unite') }}">Ajouter une unité</a></li>
  <li class="list-group-item"><a href="{{ path('ajouter_ingredient') }}">Ajouter un ingrédient</a></li>
  <li class="list-group-item"><a href="{{ path('ajouter_categorie_ingredient') }}">Ajouter une catégorie ingrédient</a></li>
  <li class="list-group-item"><a href="{{ path('ajouter_tag_recette') }}">Ajouter un tag de recette</a></li>
  <li class="list-group-item"><a href="{{ path('ajouter_produit') }}">Ajouter un produit ménager</a></li>
  <li class="list-group-item"><a href="{{ path('ajouter_liste_de_course') }}">Créer une liste de course</a></li>
</ul>
