{% extends '::base.html.twig' %}

{% block body %}
  <h1>Planning</h1>
  <p>
    Semaine du {{ dateDebut|localizeddate('short', 'none') }}
    au {{ dateFin|localizeddate('short', 'none') }}
  </p>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Jour</th>
        <th>Midi</th>
        <th>Soir</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Lundi</th>
        <td><a href="{{ path('ajouter_entree_planning') }}">Pâte/jambon, trop bon !</a></td>
        <td><a href="{{ path('ajouter_entree_planning') }}">Pâte/jambon, trop bon !</a></td>
      </tr>
      <tr>
        <th scope="row">Mardi</th>
        <td><a href="{{ path('ajouter_entree_planning') }}">Pâte/jambon, trop bon !</a></td>
        <td><a href="{{ path('ajouter_entree_planning') }}">Pâte/jambon, trop bon !</a></td>
      </tr>
      <tr>
        <th scope="row">Mercredi</th>
        <td><a href="{{ path('ajouter_entree_planning') }}">Pâte/jambon, trop bon !</a></td>
        <td><a href="{{ path('ajouter_entree_planning') }}">Rien de prévu</a></td>
      </tr>
      <tr>
        <th scope="row">Jeudi</th>
        <td><a href="{{ path('ajouter_entree_planning') }}">Pâte/jambon, trop bon !</a></td>
        <td><a href="{{ path('ajouter_entree_planning') }}">Pâte/jambon, trop bon !</a></td>
      </tr>
      <tr>
        <th scope="row">Vendredi</th>
        <td><a href="{{ path('ajouter_entree_planning') }}">Pâte/jambon, trop bon !</a></td>
        <td><a href="{{ path('ajouter_entree_planning') }}">Pâte/jambon, trop bon !</a></td>
      </tr>
      <tr>
        <th scope="row">Samedi</th>
        <td><a href="{{ path('ajouter_entree_planning') }}">Pâte/jambon, trop bon !</a></td>
        <td><a href="{{ path('ajouter_entree_planning') }}">Pâte/jambon, trop bon !</a></td>
      </tr>
      <tr>
        <th scope="row">Dimanche</th>
        <td><a href="{{ path('ajouter_entree_planning') }}">Pâte/jambon, trop bon !</a></td>
        <td><a href="{{ path('ajouter_entree_planning') }}">Pâte/jambon, trop bon !</a></td>
      </tr>
    </tbody>
  </table>
  <nav>
    <ul class="pager">
      <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Semaine précédente</a></li>
      <li class="next"><a href="#">Semaine suivante <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </nav>
{% endblock %}
