{% extends '::base.html.twig' %}

{% block body %}
  <h1>Planning</h1>
  <p>
    Semaine du {{ dateDebut|localizeddate('short', 'none') }}
    au {{ dateDebut|date_modify('Sunday')|localizeddate('short', 'none') }}
  </p>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Jour</th>
        <th>Midi</th>
        <th>Soir</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% set date = dateDebut|date('d-m-Y') %}
        <th scope="row">Lundi ({{ dateDebut|date('d/m') }})</th>
        <td><a href="{{ path('ajouter_entree_planning', {'date': date, 'repas': 'midi'}) }}">Pâte/jambon, trop bon !</a></td>
        <td><a href="{{ path('ajouter_entree_planning', {'date': date, 'repas': 'soir'}) }}">Pâte/jambon, trop bon !</a></td>
      </tr>
      <tr>
        {% set date = dateDebut|date_modify("+1 day")|date('d-m-Y') %}
        <th scope="row">Mardi ({{ dateDebut|date_modify("+1 day")|date('d/m') }})</th>
        <td><a href="{{ path('ajouter_entree_planning', {'date': date, 'repas': 'midi'}) }}">Pâte/jambon, trop bon !</a></td>
        <td><a href="{{ path('ajouter_entree_planning', {'date': date, 'repas': 'soir'}) }}">Pâte/jambon, trop bon !</a></td>
      </tr>
      <tr>
        {% set date = dateDebut|date_modify("+2 day")|date('d-m-Y') %}
        <th scope="row">Mercredi ({{ dateDebut|date_modify("+2 day")|date('d/m') }})</th>
        <td><a href="{{ path('ajouter_entree_planning', {'date': date, 'repas': 'midi'}) }}">Pâte/jambon, trop bon !</a></td>
        <td><a href="{{ path('ajouter_entree_planning', {'date': date, 'repas': 'soir'}) }}">Rien de prévu</a></td>
      </tr>
      <tr>
        {% set date = dateDebut|date_modify("+3 day")|date('d-m-Y') %}
        <th scope="row">Jeudi ({{ dateDebut|date_modify("+3 day")|date('d/m') }})</th>
        <td><a href="{{ path('ajouter_entree_planning', {'date': date, 'repas': 'midi'}) }}">Pâte/jambon, trop bon !</a></td>
        <td><a href="{{ path('ajouter_entree_planning', {'date': date, 'repas': 'soir'}) }}">Pâte/jambon, trop bon !</a></td>
      </tr>
      <tr>
        {% set date = dateDebut|date_modify("+4 day")|date('d-m-Y') %}
        <th scope="row">Vendredi ({{ dateDebut|date_modify("+4 day")|date('d/m') }})</th>
        <td><a href="{{ path('ajouter_entree_planning', {'date': date, 'repas': 'midi'}) }}">Pâte/jambon, trop bon !</a></td>
        <td><a href="{{ path('ajouter_entree_planning', {'date': date, 'repas': 'soir'}) }}">Pâte/jambon, trop bon !</a></td>
      </tr>
      <tr>
        {% set date = dateDebut|date_modify("+5 day")|date('d-m-Y') %}
        <th scope="row">Samedi ({{ dateDebut|date_modify("+5 day")|date('d/m') }})</th>
        <td><a href="{{ path('ajouter_entree_planning', {'date': date, 'repas': 'midi'}) }}">Pâte/jambon, trop bon !</a></td>
        <td><a href="{{ path('ajouter_entree_planning', {'date': date, 'repas': 'soir'}) }}">Pâte/jambon, trop bon !</a></td>
      </tr>
      <tr>
        {% set date = dateDebut|date_modify("+6 day")|date('d-m-Y') %}
        <th scope="row">Dimanche ({{ dateDebut|date_modify("+6 day")|date('d/m') }})</th>
        <td><a href="{{ path('ajouter_entree_planning', {'date': date, 'repas': 'midi'}) }}">Pâte/jambon, trop bon !</a></td>
        <td><a href="{{ path('ajouter_entree_planning', {'date': date, 'repas': 'soir'}) }}">Pâte/jambon, trop bon !</a></td>
      </tr>
    </tbody>
  </table>
  <nav>
    <ul class="pager">
      <li class="previous">
        <a href="{{ path('consulter_planning', {'date': dateDebut|date_modify("-1 week")|date('d-m-Y')}) }}">
          <span aria-hidden="true">&larr;</span> Semaine précédente
        </a>
      </li>
      <li class="next">
        <a href="{{ path('consulter_planning', {'date': dateDebut|date_modify("+1 week")|date('d-m-Y')}) }}">
          Semaine suivante <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>
  <ul>
  {% for entree in planning %}
    <li>{{ entree.date|localizeddate('short', 'none') }} ({{ entree.midi ? "midi": "soir" }}) -> {{ entree.recette.nom }}</li>
  {% endfor %}
  </ul>
{% endblock %}
