{% extends '::base.html.twig' %}

{% block title %}{{ action }} une recette au planning{% endblock %}

{% block body %}
{{ date|localizeddate('medium') }}
    <h1>{{ action }} une recette au planning</h1>
    {{ form_start(form, {'style': 'horizontal'}) }}
      {{ form_row(form.midi) }}
      {{ form_row(form.date) }}
      {{ form_row(form.recette) }}
      <input type="submit" value="Valider" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
