{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
  <h1 class="text-center">Inscription</h1>
  <div class="col-md-6">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
      {{ form_row(form.username) }}
      {{ form_row(form.email) }}
      {{ form_widget(form.plainPassword) }}

      <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
      {{ form_rest(form) }}
    {{ form_end(form) }}
  </div>
</div>
