{% extends '::base.html.twig' %}

{% block title %}{{ action }} un ingrédient{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-6 col-md-offset-4 well">
    <h1>{{ action }} un ingrédient</h1>
    {{ form_start(form) }}
      <div class="row">
        <div class="col-md-6">
          {{ form_row(form.nom) }}
          {{ form_row(form.rayons) }}
        </div>
        <div class="col-md-6">
          {{ form_row(form.pluriel) }}
          {{ form_row(form.categorie) }}
        </div>
      </div>
      {{ form_row(form.imageFile) }}
      <input type="submit" value="Valider" class="btn btn-primary"/>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
