{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<h1 class="text-center">Connexion</h1>

{% if error %}
<div class="alert alert-danger">
  <p>
    {{ error.messageKey|trans(error.messageData, 'security') }}
  </p>
</div>
{% endif %}

<form action="{{ path('fos_user_security_check') }}" method="post" class="form-horizontal" role="form">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

  <div class="form-group">
    <label for="username" class="col-md-3 control-label">{{ 'security.login.username'|trans }}</label>
    <div class="col-md-5">
      <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autofocus/>
    </div>
  </div>

  <div class="form-group">
    <label for="password" class="col-md-3 control-label">{{ 'security.login.password'|trans }}</label>
    <div class="col-md-5">
      <input class="form-control" type="password" id="password" name="_password" required="required" />
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <div class="checkbox">
        <label for="remember_me">
          <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked />
          {{ 'security.login.remember_me'|trans }}
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <a href="{{ path('fos_user_resetting_request') }}" title="Réinitialiser votre mot de passe">Mot de passe oublié ?</a>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary"/>
    </div>
  </div>

</form>

{% endblock fos_user_content %}
