{{ form_start(form, {'action': path('formulaire_recherche_produit') }) }}
  {{ form_label(form.rayonProduit) }}
  <div>
    {{ form_widget(form.rayonProduit, {attr: {'placeholder': 'Rayon : Produit'}}) }}
  </div>
  {{ form_errors(form.rayonProduit) }}

{{ form_rest(form) }}
