<div class="quote-container">
  <i class="pin"></i>
  <div class="note yellow">
    <h1 class="text-center">Liste de courses</h1>
    <p class="text-center"><small><a href="{{ path('faire_mes_courses', {'slugUser': app.user.slugUser}) }}">Je fais mes courses</a></small></p>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        {% for index in 0..(rayons|length / 2) - 1 %}
          <h2>{{ rayons[index].nom }}</h2>
          <ul>
          {% for quantiteIngredient in liste.ingredients %}
            {% if rayons[index] in quantiteIngredient.ingredient.rayons %}
              <li>{{ quantiteIngredient }}</li>
            {% endif %}
          {% endfor %}
          {% for quantiteProduit in liste.produits %}
            {% if rayons[index] in quantiteProduit.produit.rayons %}
              <li>{{ quantiteProduit }}</li>
            {% endif %}
          {% endfor %}
          </ul>
          {% set index = index + 1 %}
        {% endfor %}
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        {% for index in (rayons|length / 2)..rayons|length - 1 %}
          <h2>{{ rayons[index].nom }}</h2>
          <ul>
            {% for quantiteIngredient in liste.ingredients %}
            {% if rayons[index] in quantiteIngredient.ingredient.rayons %}
              <li>{{ quantiteIngredient }}</li>
            {% endif %}
          {% endfor %}
          {% for quantiteProduit in liste.produits %}
            {% if rayons[index] in quantiteProduit.produit.rayons %}
              <li>{{ quantiteProduit }}</li>
            {% endif %}
          {% endfor %}
          </ul>
          {% set index = index + 1 %}
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <a class="btn btn-primary" id="ajouter-produit" href="#"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </div>
</div>
<script>var slugUser = '{{ app.user.slugUser }}'</script>
