{% extends '::base.html.twig' %}

{% block titre %}Liste des produits{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-10 col-md-offset-1 well">
    {% for rayon in rayons %}
    <h1>{{ rayon.nom }}</h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>N°</th>
          <th>Nom</th>
          <th>Rayons</th>
          {% if is_granted('ROLE_ADMIN') %}
            <th>Modifier</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for produit in rayon.produits %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ produit.nom|capitalize }}</td>
          <td>{% for rayon in produit.rayons %}{{ rayon.nom }} {% if not loop.last %}, {% endif %}{% endfor %}</td>
          {% if is_granted('ROLE_ADMIN') %}
            <td><a href="{{ path('modifier_produit', {'slug': produit.slug }) }}">Modifier</a></td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </div>
</div>
{% endblock %}
