{% block textarea_label %}{% endblock %}
{% block textarea_errors %}{% endblock %}

{% block textarea_widget %}

    <div class="row">
      <div class="col-md-10">
        {{ form_widget(form) }}
      </div>
      {% include '::admin/recette/boutons_de_control.html.twig' %}
    </div>

{% endblock %}


{% block quantite_ingredient_recette_label %}
{% endblock %}

{% block quantite_ingredient_recette_widget %}
    <div class="row">
      <div class="col-md-10">
        <div class="form-inline">
          <div class="form-group{% if form.ingredient.vars.errors|length %} has-error{% endif %}">
            {{ form_widget(form.ingredient, {'attr': {'class': 'ingredient_search', 'placeholder': 'Ingrédient'}}) }}
          </div>
          <div class="form-group">{{ form_widget(form.quantite, {'attr': {'class': 'quantite', 'placeholder': 'Quantité'}}) }}</div>
          <div class="form-group">{{ form_widget(form.unite) }}</div>
          <span class="help-block">{{ form_errors(form.ingredient) }}</span>
        </div>
      </div>
      {% include '::admin/recette/boutons_de_control.html.twig' %}
    </div>
{% endblock %}
