{% extends '::base.html.twig' %}

{% block title %}{{ action }} une recette{% endblock %}

{% form_theme form with [_self, '::default/jquery.collection.html.twig', '::admin/recette/advanced-theme.html.twig'] %}

{% block body %}
  <h1>{{ action }} une recette</h1>

  {{ form_start(form) }}

  {{ form_row(form.nom) }}
  {{ form_row(form.note) }}

  {{ form_row(form.etapes) }}
  {{ form_row(form.ingredients) }}

  <div class="row">
    <div class="col-md-6">{{ form_row(form.categorieRecette) }}</div>
    <div class="col-md-6">{{ form_row(form.tags) }}</div>
  </div>
  <input type="submit" value="Valider" class="btn btn-primary"/>
  {{ form_end(form) }}

{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('app/css/jquery-ui.min.css') }}" rel="stylesheet" media="screen">
<style>
    .liste_etape .collection-up, .liste_etape .collection-down {
        display: none;
    }
</style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('app/js/jquery-ui.min.js') }}"></script>
  <script src="{{ asset('app/js/jquery.collection.js') }}"></script>

  <script type="text/javascript">
      $('.liste_etape').collection({
        'add': '<a href="#" class="btn btn-info">Ajouter une étape</a>',
        allow_duplicate: true
      });
      $('.liste_ingredient').collection({
        'add': '<a href="#" class="btn btn-info">Ajouter un ingrédient</a>',
        allow_duplicate: true
      });
  </script>
{% endblock %}
