{% extends '::base.html.twig' %}

{% block title %}{{ action }} une recette{% endblock %}

  {% block body %}
    <h1>{{ action }} une recette</h1>

    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.note) }}

    <div class="form-group">
      {{ form_label(form.etapes) }}
      {{ form_errors(form.etapes) }}

      <ul id="liste_etape"
        data-prototype="{{ form_widget(form.etapes.vars.prototype)|e }}">
        {% for etape in form.etapes %}
          <li>
            {{ form_errors(etape) }}
            {{ form_widget(etape) }}
          </li>
        {% endfor %}
      </ul>
      <a href="#" id="lien_ajouter_etape">Ajouter une étape</a>
    </div>

    <div class="form-group">
      {{ form_label(form.ingredients) }}
      {{ form_errors(form.ingredients) }}
      <ul id="liste_ingredient"
        data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e }}">
        {% for ingredient in form.ingredients %}
          <li>
            {{ form_errors(ingredient) }}
            {{ form_widget(ingredient) }}
          </li>
        {% endfor %}
      </ul>
      <a href="#" id="lien_ajouter_ingredient">Ajouter un ingrédient</a>
    </div>

    {{ form_row(form.categorieRecette) }}
    {{ form_row(form.tags) }}
    <input type="submit" value="Valider" class="btn btn-primary"/>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    // keep track of how many email fields have been rendered
    var nbEtape = '{{ form.etapes|length }}';
    var nbIngredient = '{{ form.ingredients|length }}'

    jQuery(document).ready(function() {
      jQuery('#lien_ajouter_etape').click(function(e) {
        e.preventDefault();

        var listeEtape = jQuery('#liste_etape');

        // grab the prototype template
        var newWidget = listeEtape.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your emails
        // end name attribute looks like name="contact[emails][2]"
        newWidget = newWidget.replace(/__name__/g, nbEtape);
        nbEtape++;

        // create a new list element and add it to the list
        var newLi = jQuery('<li></li>').html(newWidget);
        newLi.appendTo(listeEtape);
      });

      jQuery('#lien_ajouter_ingredient').click(function(e) {
        e.preventDefault();

        var listeIngredient = jQuery('#liste_ingredient');

        // grab the prototype template
        var newWidget = listeIngredient.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your emails
        // end name attribute looks like name="contact[emails][2]"
        newWidget = newWidget.replace(/__name__/g, nbIngredient);
        nbIngredient++;

        // create a new list element and add it to the list
        var newLi = jQuery('<li></li>').html(newWidget);
        newLi.appendTo(listeIngredient);
      });
    })
  </script>
{% endblock %}
