<article>
  <h1>{{ recette.nom }}</h1>
  <p><small>Publié le {{ recette.date|localizeddate('medium') }}</small></p>
  <div class="row">
    <div class="col-md-4">
      <img src="{{ vich_uploader_asset(recette, 'imageFile') }}" alt="{{ recette.imageName }}" />
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body">
          <p>Note : {{ recette.note }}</p>
          <p>Temps de préparation : {{ recette.tempsDePreparation }} minutes</p>
          {% if recette.tempsDeCuisson != 0 %}
            <p>Temps de cuisson : {{ recette.tempsDeCuisson }} minutes</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-body">
          <p>Difficulté : {{ recette.difficulte }}</p>
          <p>
            Tags :
            {% for tag in recette.tags %}
              <a href="">#{{ tag.nom }}</a> 
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
        <h2>Ingrédients</h2>
        <ul>
          {% for ingredient in recette.ingredients %}
            <li>
              {{ ingredient.quantite }} {{ ingredient.unite.nom }} de 
              {% if ingredient.quantite < 2 %}
                {{ ingredient.ingredient.nom }}
              {% else %}
                {{ ingredient.ingredient.pluriel }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </p>
    </div>
    <div class="col-md-8">
      <h2>Étapes</h2>
      <p>
        <ul>
        {% for etape in recette.etapes %}
          <li>{{ etape }}</li>
        {% endfor %}
        </ul>
      </p>
    </div>
  </div>
</article>
